body{
    background-image: url("../alice_img/wonderland.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#button1{
    background-color: rgba(225, 212, 38, 0.418);
    height: 8vh;
    width: 3.5vw;
    position: absolute;
}
#info{
    display:none;
    margin: 0 auto;
    background-color: rgba(225, 212, 38, 0.418);
    border: 5px solid black;
    height: 550px;
    width: 430px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Satisfy", cursive;
    font-style: normal;
}
#button2{
    background-color: rgba(225, 212, 38, 0);
    height: 8vh;
    width: 2vw;
    border: none;
}
#music{
    background-image: url("../alice_img/music.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 8vh;
    width: 3.5vw;
    left: 5%;
    position: absolute;
}
#somewhere{
    background-color: rgba(225, 212, 38, 0.418);
    height: 8vh;
    width: 3.5vw;
}