body{
    text-align: center;
    background-color:rgb(179, 162, 115);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
      
}

h1{
    font-family: "Sevillana", cursive;
    font-style: normal;
    font-weight: 10000;
    -webkit-text-fill-color: #ac871ac4;
    -webkit-text-stroke-width: 0.001px;
    -webkit-text-stroke-color: black;

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#p1{
    font-family: "Sevillana", cursive;
    font-style: normal;
    font-weight: 10000;
    -webkit-text-fill-color: #ac871ac4;
    -webkit-text-stroke-width: 0.001px;
    -webkit-text-stroke-color: black;

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#p2{
    font-family: "Sevillana", cursive;
    font-style: normal;
    font-weight: 10000;
    -webkit-text-fill-color: #ac871ac4;
    -webkit-text-stroke-width: 0.001px;
    -webkit-text-stroke-color: black;

    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#p3{
    font-family: "Sevillana", cursive;
    font-style: normal;
    font-weight: 10000;
    -webkit-text-fill-color: #ac871ac4;
    -webkit-text-stroke-width: 0.001px;
    -webkit-text-stroke-color: black;

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#p4{
    font-family: "Sevillana", cursive;
    font-style: normal;
    font-weight: 10000;
    -webkit-text-fill-color: #ac871ac4;
    -webkit-text-stroke-width: 0.001px;
    -webkit-text-stroke-color: black;

    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
}



button{
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    color: black;
    background-color: #a96cee;
    border-style: Outset;
    border-width:2px;
    border-radius:10px;
    border-color: #8757be;
    
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button:hover{
    opacity: 0.5;
    box-shadow: 0 0 15px rgba(33,33,33,.2); 
}