#img-container {
    position: relative;
    display: inline-block;
}

body {
    background: url("https://i.pinimg.com/564x/a3/1c/83/a31c832df5e4432e2f1c288afaa36034.jpg");
    margin: 0;
    overflow: hidden;
}

button {
    position: absolute;
    top: 20%;
    left: 90%;
    transform: translate(-50%, -50%);
    padding: 10px 15px;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 100px;
}

#secondButton {
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    padding: 15px 25px;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 100px;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    button, #secondButton {
        font-size: 14px;
        width: 150px;
        height: 75px;
    }
}

@media screen and (max-width: 480px) {
    button, #secondButton {
        font-size: 12px;
        width: 120px;
        height: 60px;
    }
}

#playButton {
    top: 50%;
    left: 50%;
    text-align: center;
    color: green;
    background: #FFF8DC;
    border-color: DarkSeaGreen;
    border-width: 5px;
    border-style: double;
    padding: 2px;
    font-family: 'Rubik Puddles', cursive;
    box-shadow: 5px 5px 2px #005250;
    border-radius: 60px;
    width: 100px;
    height: 30px;
}
#video-container{   
    top: 150%;
    left: 50%;
}
#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

iframe {
    width: 100%;
    height: 100%;
}

.control-button {
    position: absolute;
    padding: 10px 15px;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Rubik Puddles', cursive;
    font-size: 16px;
}

#playButton {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#playButton2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#gotoMainButton {
    bottom: 20px;
    right: 20px;
    text-align: center;
    color: green;
    background: #FFF8DC;
    border-color: DarkSeaGreen;
    border-width: 5px;
    border-style: double;
    padding: 2px;
    font-family: 'Rubik Puddles', cursive;
    box-shadow: 5px 5px 2px #005250;
    border-radius: 60px;
    width: 100px;
    height: 30px;

}
#img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Optional: Set the container height to the full viewport height */
}

#img1 {
    max-width: 100%;
    max-height: 100%;
}
#timer {
    top: 38%;
    left: 61%;
}