body{
    background-image: url("https://i.pinimg.com/736x/e6/53/71/e653717288dfc243aa73f78d1bdd5e9e.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#nexta{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    transform: translate(-50%, -50%) rotate(45deg);
}